/*
#FFDD00 yellow
#9E005D purple
#9ED9B0 d.blue
#9ED9B0 mint
*/

/*GENERAL CLASSES*/

#dvLoading
   {
   background: url(images/logo.svg) center 40% no-repeat,
   url(images/load.gif) center center no-repeat;
   background-color: #f4f4f4;
   height: 100%;
   width: 100%;
   position: fixed;
   z-index: 1000;
}

html, body {
    height: 100%;
    width: 100%;
}

.right {
    list-style: none;
    display: inline;
}

.hidden {
    display: none;
}

hr {
    border: ridge 1px #9ED9B0;
    width: 25%;
}

hr.inline {
    display: inline-block;
    width: 10%;
    vertical-align: middle;
}

li.inline-block {
    display: inline-flex;
}

.box {
    background-color: #9ED9B0;
    display: table;
    vertical-align: middle;
}

.center {
    margin: auto;
    text-align: center;
}

.col-md-3 {
    padding: 0;
}

.col-md-12 {
    padding: 0;
    margin: 0;
}

.circle {
   border: dashed 1px #9ED9B0;
   border-radius: 50%;
   background-color: #000;
   width: 100px;
   height: 100px;
   padding: 47px 0;
   text-align: center;
   display: inline-block;
   margin: 15px;
   color: #fff;
   background: url('../images/noisy.png');
   max-width: 100%;
   filter: gray !important; /* IE6-9 */
    -webkit-filter: grayscale(100%) !important;
}

a:hover .circle {
    filter: none !important; /* IE6-9 */
    -webkit-filter: grayscale(0) !important;
}

/*TEXT*/

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Lato', sans-serif;
}



a h3 {
    font-size: 16px !important;
    font-weight: 700;
    padding: 10px;
    letter-spacing: normal;
    text-transform: none;
    text-align: left;
}

h3 {
    font-size: 16px !important;
    font-weight: 700;
    padding: 10px;
    letter-spacing: normal;
    text-transform: none;
    text-align: left;
}

h4 {
    color: #9ED9B0;
    font-size: 1.5em;
}

h5 {
    font-weight: 700;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 3em;
    padding: 20px 0 0 0;
    margin: 30px 0 0 0;
    text-shadow: 4px 1px #888;
}

h5.tagline {
    font-weight: 700;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 0;
    margin: 0;
}

.fancybox-text {
    font-family: Georgia, serif;
    font-size: 0.8em;
}

.text {
    margin-top: 20px;
    color: #b3b9bf;
}

.name-title {
    color: #9ED9B0;
    font-size: 6em;
    font-weight: 700;
    text-align: center;
    padding: 0;
    text-shadow: 4px 1px #888;
}

.methods {
    font-size: 0.6em;
    line-height: 0.6em;
    color: #f4f4f4;
    font-weight: 400;
    padding: 5px 0;
}

.sub-cats {
    font-size: 0.6em;
    line-height: 0.6em;
    color: #f4f4f4;
    font-weight: 400;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    text-align: center;
}

.sub-cats p {
    
}

.intro-text {
    font-size: 0.8em;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
}

.box-text {
    color: #fff;
    font-weight: 700;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 2em;
}

.underline {
    border-bottom: 2px solid rgba(255,255,255,0.4);    
}

.overline {
    border-top: 2px solid rgba(255,255,255,0.4);  
}

.main-header {
    font-size: 2em;
    opacity: 0.1;
    margin: 0 -50px -50px 0;
    text-align: left;
}

.sub-header {
    text-align: left;
    padding-left: 0;
    color: #9ED9B0;
}

.header-text a {
    color: #fff;
}

/*NAVBAR*/
.navbar-fixed-top {
    background-color: #9ED9B0;
    color: #fff;
}

.navbar-brand a:hover {
    color: #1CAF9A;
}

ul.nav {
    float: right;
    color: #fff;
}

.navbar-nav .active .a{
    background-color: #1CAF9A;
    color: #fff;
}

.navbar-default .navbar-brand {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}

.navbar-default .navbar-brand:hover {
    
}

.navbar-default {
    border: none;
    padding: 0 2.5%;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #1CAF9A;
    color: #9ED9B0;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover, .header-text a:hover {
    color: #fff;
    border-bottom: solid 2px #fff;
    padding-bottom: 0;
}

li.dropdown {
    float: right;
    list-style: none;
}

.dropdown-menu {
    position: fixed;
    top: inherit;
    display: none;
    float: left;
    right:0;
    min-width: 160px;
    font-size: 14px;
    list-style: none;
    background-color: #9ED9B0;
    /*border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;*/
}

.dropdown-menu > li > a {
    text-align: right;
    font-size: 1.5em;
    color: #fff;
}

/*LINKS*/
a {
    color: #9ED9B0;
    text-decoration: none;
}

a:hover {
    color: #9ED9B0;
    text-decoration: none;
}

.links {
    margin-top: auto;
    line-height: 4em;
}

/*SECTIONS*/

.social-icon {
    height: 20px;
    padding: 0 2px 0 0;
    filter: grey;
    -webkit-filter: grayscale(100%);
}

.nav > li > a > .social-icon {
    padding: 0;
}

.social-icon:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}

#container {

}

#intro {
    background: url('../images/noisy.png');
    background-repeat: repeat;
    padding: 0;
    margin: 0;
}

#about {
    background-color: #9ED9B0;
    background: url('../images/noisy.png');
}

#portfolio{
    background-color: #eee;
}

#footer {
   font-size: 0.6em;
   min-height: 0;
   max-height: 20px;
   position: fixed;
   bottom: 0;
}

.about-row, .graphics-row {
    display: table;
    width: 100%;
}

.web-row, .resume-row {
    color: #1D2939;
}

/*IMAGES*/
.web-images {
    opacity: 0.4;
}

.web-images:hover {

}

.image:hover {
    background-color: #000;
    border-radius: 20%;
}

@media only screen and (max-width: 450px) {
   html {
    padding: 0;
    margin: 0;
   }
   h5 { font-size: 2em; text-decoration: none; }
   .tagline { font-size: 0.1em; }
   
   h2.name-title { font-size: 4em; }
   .circle { margin: 5px; }
}